
<div class="center-alert">
   <%= render :partial => 'shared/flash_messages' %>
</div>

  <div class="info">
    <p><h1><%= @user.name.capitalize %>'s Profile Page</h1></p>
    <p><h4><%= @user.email.downcase%></h4></p>

    <p><%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your Account?"}, class: "btn btn-primary" %></p>

  </div>
