
<div class="center-alert">
   <%= render :partial => 'shared/flash_messages' %>
</div>

  <div class="info">
    <p><h1><%= @user.name.capitalize %>'s Profile Page</h1></p>
    <p><h4><%= @user.email.downcase%></h4></p>
  </div>
