

<div class="center alert">
  <p><%= flash[:message] %></p>
</div>

<div class="center">
  <div class="info">

  <p><strong>Name:</strong> Hi <%= @user.name %>!</p>
  <p><%= link_to "Create Your First Event!", new_user_event_path(@user) %></p>





  </div>
</div>
