<% @guests.each do |guest| %>
  <% if guest.guest_id == current_user.guest.id && !guest.rsvp %>
      <div class="form-group">
        <p><strong>Will you be attending?</strong>
        <%= form_for @eventguest, url: event_guest_path do |f| %>
          <%= f.check_box :rsvp %>
          <%= f.label :rsvp, "Yes" %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
        <% end %>
  <% end %>
<% end %>
